<div class="row">
    <div class="col-lg-6">
        <div class="well bs-component">
            <form class="form-horizontal" name="login" id="login" novalidate>
                <fieldset>
                    <div class="form-group">
                        <div class="">
                            <img ng-src={{grav}} />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            {{accessToken}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="button" class="btn btn-success" ng-click="changePassword()" value="CHANGE PASSWORD" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <input type="button" class="btn btn-primary" ng-click="logout()" value="LOGOUT" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
